[Unit]
Description=yes

[Service]
WorkingDirectory=/home/artasa/Desktop/Capstone
User=artasa
Group=artasa
Type=simple
ExecStart=/usr/bin/env python3 /home/artasa/Desktop/Capstone/artasa_boot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target